<p>metronome works!</p>
<button (click)="playSound(audioContext, audioContext.currentTime)">Play Sound.</button>


<button (click)="ac.togglePlay()">Toggle Play: {{ac.isPlaying}}</button>
<!-- <p>Seconds Elapsed: {{ ac.timeElapsed.toFixed(3) }}</p> -->
<p>Current Beat: {{ currentBeat }}</p>


<button (click)="addNewLane(newLaneSubdiv.value)">Add New Lane</button><input type="number" #newLaneSubdiv>

<div #laneContainer></div>
<app-visualization [subdivisions]="6" ></app-visualization>

<ng-template laneView></ng-template>