<div class="container">
    <div class="buttons">
        <button *ngFor="let b of buttons; index as i" (click) = "buttonHandler(i)" [ngClass]="buttons[i]"></button>
    </div>
    <div [formGroup] = "soundChoice" class="soundchoice">
        
        <select formControlName="soundSelect">
            <option *ngFor="let sound of soundList" [ngValue]="sound" >{{sound.name}}</option>
        </select> 
        <input #volumeControl type="range" min="0" max="100" (change)="setVolume(volumeControl.value)">
        <button (click)="deleteMe()">Delete Lane</button>  
    </div>
    
</div>

