
.buttons {
    
    height: 50px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    
}
 button {
    width:100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 1px;;
    
 }

 .active {
    background-color: black;
 }

 .current {
    border-color: red;
 }
